@model IEnumerable<Website.Models.News>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link href="~/css/scss.scss" rel="stylesheet" />

<script>
    $(".hover").mouseleave(
        function () {
            $(this).removeClass("hover");
        }
    );
</script>

<h3>@Localizer["Message"]</h3>

@foreach (var item in Model)
{
<figure class="baha1493">
    <div class="image"><img src=@item.Images alt="ls-sample1" /></div>
    <figcaption>
        <div class="date"><span class="day">@item.DateStart.Day</span><span class="month">@item.DateStart.Month</span></div>
        <p>
            @item.Organization <br>
            Дата проведения: <b>@item.DateStart.ToShortDateString() @item.DateStart.ToShortTimeString() - @item.DateFinish.ToShortDateString() @item.DateFinish.ToShortTimeString()</b><br>
            Тема: <b>@item.Title</b> <br>
            @item.Name <br>
            <em>@item.Position</em> <br>
        </p>
    </figcaption>
</figure>
}
